{{define "layout"}}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{template "title" .}}</title>
  <meta name="description" content="{{template "description" .}}" />
  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
  <style>{{.MainCSS}}</style>
  {{template "meta" .}}
  {{with .App.AdID}}<link rel="dns-prefetch" href="https://pagead2.googlesyndication.com">
  <link rel="dns-prefetch" href="https://googleads.g.doubleclick.net">
  <link rel="dns-prefetch" href="https://doubleclickbygoogle.com">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "{{.}}",
            enable_page_level_ads: true
      });
  </script>{{end}}
  {{with .App.AnalyticsID}}<script async defer data-domain="{{.}}" src="https://plausible.io/js/plausible.js"></script>{{end}}
</head>
<body>
  <header>
    <h1><a href="/">{{$.App.SiteName}}</a></h1>
    <nav><a href="/contact">Contact</a></nav>
  </header>
  <main>
    {{template "body" .}}
  </main>
  <footer>
    <a href="/terms-and-conditions">Terms and Conditions</a>
    <a href="/privacy-policy">Privacy Policy</a>
  </footer>
</body>
</html>
{{end}}
